@import ../../../global/sass/grid
@import ../../../global/sass/mixins

.s4
  +margin(margin-bottom, 123px)

.s4-title
  +margin(margin-bottom, 120px)
  i
    white-space: nowrap
    font-style: normal

.s4-images-box
  @extend %square-grid
  grid-template-columns: repeat(2, 1fr)
  align-items: start

.s4-grid-cell
  @extend %grid-item
  aspect-ratio: unset
  padding: 0
  .cell
    @extend .center-content
    width: 100%
    padding: 15%
  img, video
    @extend %tune-media
    opacity: 1
