.s7
  margin-left: -20px
  margin-right: -20px
  margin-bottom: 45px
  color: var(--color-header-tape)

.archive-tape
  font-size: 150px
  font-weight: 500
  user-select: none
  *
    font-style: normal
  [data-splitter]::before
    content: "\00a0" attr(data-splitter) "\00a0"
