.s2
  color: var(--color-header-tape)

.header-tape
  margin-top: -0.35em

  font-size: 150px
  font-weight: 500
  user-select: none
  *
    font-style: normal
  [data-splitter]::before
    content: "\00a0" attr(data-splitter) "\00a0"
