@import ../../../global/sass/mixins

.s5
  position: relative
  .title
    +font-size(55px, 25px)
    font-weight: 500
    line-height: 1em
    text-decoration: none
    color: var(--color-case-study, white)
    &:active
      color: var(--color-active-link)

.s5-video-wraper
  position: relative

#s5-video
  position: absolute
  left: 0
  top: 0

  max-width: 200px
  transform: translate(var(--x, 0px), var(--y, 0px))
  pointer-events: none
