@import ../global/sass/grid
@import ../global/sass/mixins
@import ../global/sass/typography

.text-center
  width: 50%
  +mobile
    width: 75%

.text-left
  width: 50%
  +mobile
    width: 100%

// .text-center
