@import ../../../global/sass/grid
@import ../../../global/sass/mixins
@import ../../../global/sass/colors

video
  width: 100%
  max-width: 70%
  @mobile
    max-width: 100%

// .video-wrapper
//   &:hover
//     .play-button
//       display: block

// video controls (play and stop buttons)
.video-control
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 1
  cursor: pointer

.play-button
  display: none
  width: 34.75%

.stop-button
  display: none
  width: 296px
  height: 296px
  border: 1px solid var(--green)
.s3
  // &__video
