@import ../../../global/sass/grid
@import ../../../global/sass/mixins
@import ../../../global/sass/colors

.video-wrapper
  position: relative
  width: 100%
  max-width: 50%
  margin: 150px auto
  +mobile
    max-width: 100%
    margin: 125px auto

video
  width: 100%

// Buttons
.video-control
  position: absolute
  // left: 50%
  // top: 50%
  transform: translate(var(--x), var(--y))
  z-index: 1
  cursor: pointer

.play-button
  display: none
  width: 34.75%

.stop-button
  display: none
  width: 37%
  aspect-ratio: 1 / 1
  border: 1px solid var(--green)

.s3
  // &__video
