@import ../../../../grid
@import ../../../../mixins

.s3
  position: relative
  +margin(margin-bottom, 240px)

// Text boxes
.s3-text-box
  @extend .center-content
  height: 100%
  img, video
    display: none

.s3-paragraph
  max-width: 1000px

  +font-size(55px, 25px)
  line-height: 1.3em
  img
    display: inline-block
    height: 1.09em
    margin-bottom: -0.27em

/* Preview fixed wrapper */
.s3-fixed-container
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

  width: 100%
  max-width: 1440px
  height: 100%
  transition: opacity 500ms

  &:not(.visible)
    position: absolute
    right: 200vw
    visibility: hidden
    opacity: 0

/* Preview grid */
.s3-preview-grid
  @extend %square-grid

  position: absolute
  width: 100%
  left: 0
  top: 50%
  transform: translateY(-50%)

.grid-item
  @extend %grid-item
  padding: 15%
  img
    opacity: 0
