@import ./page/global/sass/grid
@import ./page/global/sass/mixins

// Colors
:root
  --color: white
  --bg: black
  --bg-cursor: #3BFB2A
  --color-header-tape: white
  --color-case-study: white
  --color-dimmed: #586065
  --color-active-link: #3BFB2A
body
  background: var(--bg)
  scroll-behavior: smooth

  color: var(--color)
  font-size: 12px
  font-family: 'Wix Madefor Display', sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal

.page
  width: 100%
  max-width: 1440px
  margin: 0 auto
  padding: 20px

  @media screen and (max-width: 1024px)
    min-width: 375px

// Reset
*
  margin: 0
  padding: 0
  box-sizing: border-box

h1,h2,h3,h4,h5,h6
  font-size: inherit
  font-weight: normal

.large-title
  +font-size(150px, 50px)
  font-weight: 500
  line-height: 1.1em
  img
    display: inline-block
    height: 1em
    margin-bottom: -0.2em

%button
  border: none
  box-shadow: none
  background: none
  outline: none
  border-radius: 0

button
  @extend %button

section
  position: relative
  &.hidden
    display: none

// DEV
@import dev.style.sass
